{{#each notes}}
<div class="mb-3">
    <div class="card w-50 m-auto text-center">
        <h5 class="card-header text-center">{{title}}</h5>
        <div class="card-body">
            <div class="form-group">
                <p>{{details}}</p>
            </div>
            <a href="/notes/edit/{{id}}" class="btn btn-dark btn-block mb-1">Edit</a>
            <form action="/notes/{{id}}?_method=DELETE" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" class="btn btn-danger btn-block" value="Delete">
            </form>
        </div>
    </div>
</div>
{{else}}
<div class="text-center">
    <h1 class="mb-2">No notes listed yet.</h1>
    <a href="/notes/add" class="btn btn-info btn-block w-50 m-auto">Add your first note!</a>
</div>
{{/each}}
